<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>

<!-- /#header-->

<section class="account section">
<div class="container">

<div class="row">
<div class="col-md-12">
<h1>Get Data From Facebook</h1>
<h4>Please complete the wizard to pull your page details from facebook & Instagram</h4>
</div>
</div>

</div>


<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="wizard">
<div class="wizard-inner">
  <div class="connecting-line"></div>
  <ul class="nav nav-tabs" id="htabs" role="tablist">

    <li role="presentation" class="active">
      <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
        <span class="round-tab step size-24">
          <i class="ion-social-facebook"></i>
        </span>
      </a>
    </li>

    <li role="presentation" class="disabled">
      <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
        <span class="round-tab step size-24">
          <i class="icon ion-information"></i>
        </span>
      </a>
    </li>
    <li role="presentation" class="disabled">
      <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
        <span class="round-tab step size-24">
          <i class="ion-android-checkbox"></i>
        </span>
      </a>
    </li>

    <li role="presentation" class="disabled">
      <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
        <span class="round-tab">
          <i class="ion-android-add"></i>
        </span>
      </a>
    </li>
  </ul>
</div>

<form>
  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="step1">
      <h4>Step 1</h4>
      <div class="row">
      <div class="form-group">
        <div class="col-md-6">
          <a href="javascript:void(0)" onclick="javascript:LoginFBForWizard()"><i class="ion-social-facebook"></i>&nbsp;Login To Facebook </a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mgTop80">
          <hr>
        </div>
      </div>
      <ul class="list-inline text-center mgTop30">
        <li><button type="button" id="step_1_btn" class="btn btn-primary next-step hidden">Continue</button></li>
      </ul>
      </div>
    </div>

    <div class="tab-pane" role="tabpanel" id="step2">
      <h4>Page Details</h4>
      <div id="data_from_fb">
      <p id="show_success_message" class="alert alert-success hidden"></p>

      </div>
      <div class="mgTop80">
      <hr>
      </div>
      <ul class="list-inline text-center">
        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
        <li><button type="button" class="btn btn-primary next-step">Save</button></li>
      </ul>
    </div>

    <div class="tab-pane" role="tabpanel" id="step3">
      <h4>Connect To Instagram</h4>
      <div id="data_from_fb">
        <a href="javascript:void(0)" onclick="window.open('https://api.instagram.com/oauth/authorize/?client_id=6b7aae8b938642eeb242a76096727fdf&redirect_uri=http://localhost:3000/influencers/wizard&response_type=token','_self')">
          <i class="ion-social-facebook"></i>&nbsp;Login To Instagram</a>
        <p id="instagram_followers"></p>
      </div>
      <div class="mgTop80">
      <hr>
      </div>
      <ul class="list-inline text-center">
        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
        <li><button type="button" class="btn btn-primary next-step">Save</button></li>
      </ul>
    </div>



    <div class="tab-pane" role="tabpanel" id="complete">
      <h4>Complete</h4>
      <p>You have successfully completed all steps.</p>
      <a href="/influencers" class="btn btn-success">Go to Dashboard</a>
    </div>
    <div class="clearfix"></div>
  </div>

</form>
</div>
</div>
</div>

</section>
</div>
</section>
</main>
<script>
function LoginFBForWizard(){
  console.log("ddd");
  FB.login(function(response) {
      if(response["status"] ==  "connected"){
         get_account_data();
      }
  }, {
      scope: 'publish_actions,publish_pages,manage_pages,pages_show_list,read_insights',
      auth_type: 'reauthenticate',
  });
}

function get_account_data(){
  FB.api(
    '/me/accounts',
    'GET',
    {"fields":"fan_count,name","access_token":"EAAOBpshGnogBAC7Bs5ZA9jqP2ZAtgVZC7MgVHVmBzUNkKFUZBA0gj7A8GsKT2ApHZCpV5gPFbBSuaY46S5AuV5ruu68ZA19k2HtKPhlYJwEyBsdflYVHVE55gpbZANnms6xVRLIKnpcYxVYbB22Sl3giQJRmSbZCo4JRMPUY3djdkwZDZD"},
    function(response) {
        for(i=0;i<response["data"].length;i++){
            console.log(response["data"][i]);
            add_social_account(response["data"][i]["id"],response["data"][i]["fan_count"],"<%=current_influencer.id%>",response["data"][i]["name"]);
            $("#data_from_fb").append("<div class='col-md-12'>"+"<p> <b>Page ID</b> :"+response["data"][i]["id"]+"</p>"+"<p><b>Fans</b> :"+response["data"][i]["fan_count"]+"</p>"+"</div>")
        }
        $("#step_1_btn").removeClass("hidden").click();
     });
}

  function add_social_account(page_id,page_likes,id,name){
    $.ajax({
      url: "/influencers/"+id+"/add_social_account_details",
      type: "POST",
      data: {
        facebook_page_id:page_id,
        facebook_page_likes:page_likes,
        page_name:name
      },
      success: function(response){
        $("#show_success_message").removeClass("hidden").html("Connected and Pulled Page Details");
        console.log(response);
       }
    });
  }

  $(document).ready(function(){
    if(location.href.split("#")[1]!=undefined && location.href.split("#")[1]!=null){
      access_token = location.href.split("#")[1].split("=")[1];
      $("#step3").addClass("active");
      $("#step1").removeClass("active");
      $("#htabs li:eq(0)").removeClass("active");
      $("#htabs li:eq(2)").addClass("active")
      get_data_from_instagram(access_token);
    }
  });

  function get_data_from_instagram(access_token){
    $.ajax({
      url:"https://api.instagram.com/v1/users/self/?access_token="+access_token,
      dataType:'jsonp',
      type: "GET",
      success: function(response){
        console.log(response);
        followed_by = response["data"]["counts"]["followed_by"];
        $("#instagram_followers").html("<b>Followers:</b>"+response["data"]["counts"]["followed_by"])
        add_instagram_follows(followed_by);
      }
    })
  }

  function add_instagram_follows(followed_by){
    $.ajax({
      url:"<%=add_instagram_followers_influencers_path%>",
      type: "POST",
      data: {
        followers:followed_by
      },
      success: function(response){
        console.log(response);
      }
    })
  }

</script>
