<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>

<section class="account section" style="min-height:575px;">
<div class="container">

<div class="row">
<div class="col-md-6">
<h1>Ad Campaigns</h1>
</div>
<div class="col-md-6 text-right">
<a href="create-ad-compaign.html" class="btn btn-primary">Create Ad</a>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-striped" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th>Ad Type</th>
                                  <th>Name</th>
            <th>Date &amp; Time</th>
                                  <th>Status</th>
            <th>Option</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr>
                                  <td>Image</td>
                                  <td>John</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td><div class="progress-bar progress-bar-green">Complete</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Image</td>
                                  <td>Williamson</td>
            <td>Sat, 03 Sep 2016, 10:30 AM</td>
                                  <td><div class="progress-bar progress-bar-red">Failure</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Link</td>
                                  <td>Williamson</td>
            <td>Thu, 01 Sep 2016, 8:30 AM</td>
                                  <td><div class="progress-bar progress-bar-green">Complete</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Video</td>
                                  <td>John</td>
            <td>Thu, 01 Sep 2016, 11:00 AM</td>
                                  <td><div class="progress-bar progress-bar-green">Complete</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Video</td>
                                  <td>Steve</td>
            <td>Thu, 01 Sep 2016, 11:00 AM</td>
                                  <td><div class="progress-bar progress-bar-red">Failure</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Link</td>
                                  <td>Steve</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td><div class="progress-bar progress-bar-green">Complete</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Image</td>
                                  <td>John</td>
            <td>Sat, 03 Sep 2016, 10:30 AM</td>
                                  <td><div class="progress-bar progress-bar-red">Failure</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Image</td>
                                  <td>James</td>
            <td>Sat, 03 Sep 2016, 10:30 AM</td>
                                  <td><div class="progress-bar progress-bar-green">Complete</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Link</td>
                                  <td>Jeffrey</td>
            <td>Thu, 01 Sep 2016, 11:00 AM</td>
                                  <td><div class="progress-bar progress-bar-green">Complete</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Video</td>
                                  <td>Williamson</td>
            <td>Thu, 01 Sep 2016, 12:30 PM</td>
                                  <td><div class="progress-bar progress-bar-red">Failure</div></td>
            <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                          </tbody>
                      </table>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
 <ul class="pagination">
  <li><a href="#"><< Previous</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">Next >></a></li>
</ul>
</div>
</div>

</div>
</section>
</div>
</section>
