<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>

<section class="account section" style="min-height:575px;">
<div class="container">

<div class="row">
<div class="col-md-12">
<h1>Audience Management</h1>
</div>
</div>

<div class="form-horizontal">
<div class="row">
<div class="col-sm-8">
<div class="form-group">
  <label class="control-label col-md-5" for="">Social Influencer Group Name</label>
  <div class="col-md-7">
    <input type="text" class="form-control" placeholder="Group Name">
  </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-5" for="">Category:</label>
    <div class="col-md-7">
    <select name="" class="custom-select">
      <option>Select</option>
      <option>Celebrity</option>
      <option>Cars</option>
      <option>Animals</option>
      <option>Nature</option>
      <option>Food</option>
      <option>Sports</option>
      <option>Fitness</option>
      <option>Models</option>
      <option>Technology</option>
      <option>Premium</option>
      <option>Other</option>
    </select>
  </div>
  </div>

<div class="form-group">
  <label class="control-label col-md-5" for="">Choose Social Influencer</label>
  <div class="col-md-7">
  <select class="multiple-select" id="my-select" name="character" multiple="multiple">
    <option value="Peter">Peter</option>
    <option value="Lois">Lois</option>
    <option value="Chris">Chris</option>
    <option value="Mike">Mike</option>
  </select>
  </div>
  </div>



  <div class="col-md-7 col-md-offset-5">
  <a class="btn btn-mountain btn-sm btn-round" href="#">Save</a>
<a class="btn btn-mountain btn-sm btn-round" href="#">Cancel</a>
</div>

<!--<button class="btn btn-mountain-o btn-sm btn-round">Save</button> <button class="btn btn-mountain-o btn-sm btn-round">Cancel</button>		-->
</div>
</div>
</div>

<hr>

<!-- Table -->
<div class="mgTop30">
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-striped" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th>Group Name</th>
                                  <th>Member Name</th>
                                  <th>Starting Date & Time</th>
            <th>Option</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                              <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
          <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
          <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
          <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
          <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
          <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
          <tr>
                                  <td>Hollywood Stars</td>
            <td>Peter, Louis, Mike, Henry</td>
            <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                  <td>
              <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
                <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
                          </div>
            </td>
                              </tr>
                          </tbody>
                      </table>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
 <ul class="pagination">
  <li><a href="#"><< Previous</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">Next >></a></li>
</ul>
</div>
</div>

</div>
<!-- Table-->

</div>
</section>


</div>
</section>
</main>
