<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
<%= render :partial => "/layouts/left_panel" %>
<%= render :partial => "/layouts/header" %>

<section id="dashboard-tile" style="min-height:570px;">
<div class="container">
      <div class="row">
  <div class="col-md-12">
    <h1>Insights</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">$150</h1>
                      <p>Weekly Earning</p>
                  </div>
                  <div class="icon"><span class="ion-social-usd"></span></div>
              </div>
          </div>

  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">$500</h1>
                      <p>Monthly Earning</p>
                  </div>
                  <div class="icon"><span class="ion-social-usd"></span></div>
              </div>
          </div>

  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">50</h1>
                      <p>Most Shared</p>
                  </div>
                  <div class="icon"><span class="ion-social-instagram"></span></div>
              </div>
          </div>

  <div class="col-md-3 col-sm-6">
              <div class="dashboard-tile detail">
                  <div class="content">
                      <h1 class="text-left timer">120 </h1>
                      <p>Most Post Shared</p>
                  </div>
                  <div class="icon"><span class="ion-social-facebook"></span></div>
              </div>
          </div>
</div>
<!-- Dashboard Tiles -->

<div class="row mgTop30">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-striped" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                      <th>Ad Type</th>
                                      <th>Posted On</th>
                <th>Date</th>
                                      <th>Amount</th>
              </tr>
                              </thead>

                              <tbody>
                                  <tr>
                                      <td>Video</td>
                                      <td><a href="javascript:void();">Facebook</a></td>
                <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                      <td>$1050.00</td>
              </tr>
                                  <tr>
                                      <td>Photos</td>
                                      <td><a href="javascript:void();">Instagram</a></td>
                <td>Fri, 02 Sep 2016, 10:30 AM</td>
                                      <td>$540.00</td>
              </tr>
                                  <tr>
                                      <td>Link</td>
                                      <td><a href="javascript:void();">Facebook</a></td>
                <td>Sun, 04 Sep 2016, 02:30 PM</td>
                                      <td>$214.00</td>
              </tr>
                                  <tr>
                                      <td>Video</td>
                                      <td><a href="javascript:void();">Facebook</a></td>
                <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                      <td>$1050.00</td>
              </tr>
                                  <tr>
                                      <td>Photos</td>
                                      <td><a href="javascript:void();">Instagram</a></td>
                <td>Fri, 02 Sep 2016, 10:30 AM</td>
                                      <td>$540.00</td>
              </tr>
                                  <tr>
                                      <td>Link</td>
                                      <td><a href="javascript:void();">Facebook</a></td>
                <td>Sun, 04 Sep 2016, 02:30 PM</td>
                                      <td>$214.00</td>
              </tr>
              <tr>
                                      <td>Video</td>
                                      <td><a href="javascript:void();">Facebook</a></td>
                <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                      <td>$1050.00</td>
              </tr>
                                  <tr>
                                      <td>Photos</td>
                                      <td><a href="javascript:void();">Instagram</a></td>
                <td>Fri, 02 Sep 2016, 10:30 AM</td>
                                      <td>$540.00</td>
              </tr>
                                  <tr>
                                      <td>Link</td>
                                      <td><a href="javascript:void();">Facebook</a></td>
                <td>Sun, 04 Sep 2016, 02:30 PM</td>
                                      <td>$214.00</td>
              </tr>
              <tr>
                                      <td>Video</td>
                                      <td><a href="javascript:void();">Facebook</a></td>
                <td>Thu, 01 Sep 2016, 9:30 AM</td>
                                      <td>$1050.00</td>
              </tr>
                              </tbody>
                          </table>
  </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
     <ul class="pagination">
      <li><a href="#"><< Previous</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">Next >></a></li>
    </ul>
  </div>
  </div>


</div>
</section>
</div>
</section>
</main>
