<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
  <%= render :partial => "/layouts/left_panel" %>
  <%= render :partial => "/layouts/header" %>

<section class="account section">
<div class="container">

<div class="row">
<div class="col-md-12">
<h1>Payments Information</h1>
</div>
</div>

<div class="row">
<div class="col-md-12 form-horizontal text-right">
<div class="borderBox">
  <div class="row">
  <div class="col-md-3">
  <div class="form-group">
  <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
    <input class="form-control" size="16" type="text" value="">
    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
  </div>
  </div>
  </div>
  <div class="dateSep">
  <div class="form-group">to</div>
  </div>
  <div class="col-md-3">
  <div class="form-group">
  <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
    <input class="form-control" size="16" type="text" value="">
    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
  </div>
  </div>
  </div>

  <div class="col-md-2 text-left">
  <button type="submit" class="btn btn-primary">Refine</button>
  </div>
  </div>
</div>
</div>
   </div>

<div class="row">
<div class="col-md-12">
<div class="table-responsive">
  <table class="table table-striped" width="100%" cellspacing="0">
  <thead>
  <tr>
  <th>Date &amp; Time</th>
  <th>Amount</th>
  <th>Payment Mode</th>
  <th>Status</th>
  <th>Option</th>
  </tr>
  </thead>

  <tbody>
  <tr>
  <td>Thu, 01 Sep 2016, 9:30 AM</td>
  <td>$1050.00</td>
  <td><em>Bank A/C No. 542154875421</em></td>
  <td><div class="progress-bar progress-bar-green">Paid</div></td>
  <td>
  <div class="btn-group">
  <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
  <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
  </div>
  </td>
  </tr>
  <tr>
  <td>Sat, 03 Sep 2016, 10:30 AM</td>
  <td>$2100.00</td>
  <td><em><img src="/assets/paypal-icon.png" alt="Paypal"></em></td>
  <td><div class="progress-bar progress-bar-red">Unpaid</div></td>
  <td>
  <div class="btn-group">
  <a href="javascript:void(0);" class="btn btn-default"><span class="ion-edit" title="Edit"></span></a>
  <a href="javascript:void(0);" class="btn btn-default"><span class="ion-trash-b" title="Delete"></span></a>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
 <ul class="pagination">
  <li><a href="#"><< Previous</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">Next >></a></li>
</ul>
</div>
</div>

</div>
</section>
</div>
</section>
</main>
