<main>
 <section id="one-page-side-menu-static" class="one-page-side-menu-static side-menu">
 <div class="content-wrapper">
  <%= render :partial => "/layouts/left_panel" %>
  <%= render :partial => "/layouts/header" %>
  <section class="account section" style="min-height:575px;">
  <div class="container">

    <div class="row">
    <div class="col-md-12">
      <h1>Social Account</h1>
    </div>
   </div>

   <div class="row">
    <div class="col-md-12 form-horizontal">
      <div class="borderBox-new">
        <div class="row">
        <div class="col-md-3">
        <div class="form-group">
          <label for="Ad type">Ad Type:</label>
          <select name="" class="custom-select">
            <option>Select</option>
            <option>Photo</option>
            <option>Link</option>
            <option>Video</option>
          </select>
        </div>
        </div>

        <div class="col-md-3">
        <div class="form-group">
          <label for="Ad type">Category:</label>
          <select name="" class="custom-select">
            <option>Select</option>
            <option>Celebrity</option>
            <option>Cars</option>
            <option>Animals</option>
            <option>Nature</option>
            <option>Food</option>
            <option>Sports</option>
            <option>Fitness</option>
            <option>Models</option>
            <option>Technology</option>
            <option>Premium</option>
            <option>Other</option>
          </select>
        </div>
        </div>

        <div class="col-md-3">
        <div class="form-group">
          <label for="Ad type">Media Type:</label>
          <select name="" class="custom-select">
            <option>Select</option>
            <option>Facebook</option>
            <option>Instagram</option>
            <option>Both</option>
          </select>
        </div>
        </div>

        <div class="col-md-2 text-left mgTop25">
        <button type="submit" class="btn btn-primary">Apply</button>
        </div>
        </div>
      </div>
    </div>
         </div>


          <div class="row">

            <!-- List Item -->
            <div class="col-md-4 main-content-wrapper">
      <div class="lft-icon">
      <div class="center-icon">
      <span class="ion-social-facebook"></span>
      </div>
      </div>

      <div class="rgt-icon">
      <div class="center-icon">
      <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Category: Fitness<br> Top 5 Countries: US, UK, ES  <br>Estimated Reach: 100K <br>See Full Insights(Not Available)"><span class="ion-information"></span></a>
      </div>
      </div>

              <div class="price-features">
                <div class="advertiserBox">
                  <a href="influencer-detail.html"><img src="assets/images/gallery/ad-request.jpg"></a>
                </div>
      <h4><a href="influencer-detail.html">Social Influencer Name</a></h4>
      <div class="price-number-wrap mgBottom30">
          <div class="price-top">
          <p>Followers: <span class="smFollow">500K</span></br>
          Recommended Price Tag/Posts: <span class="smPrice">$50</span></p>
          </div>
        </div>
      </div>

            </div>
            <!-- List Item -->

    <!-- List Item -->
            <div class="col-md-4 main-content-wrapper">
      <div class="lft-icon">
      <div class="center-icon">
      <span class="ion-social-instagram-outline"></span>
      </div>
      </div>

      <div class="rgt-icon">
      <div class="center-icon">
      <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Category: Fitness<br> Top 5 Countries: US, UK, ES  <br>Estimated Reach: 100K <br>See Full Insights(Not Available)"><span class="ion-information"></span></a>
      </div>
      </div>

              <div class="price-features">
                <div class="advertiserBox">
                  <a href="influencer-detail.html"><img src="assets/images/gallery/ad-request-instagram.jpg"></a>
                </div>
      <h4><a href="influencer-detail.html">Social Influencer Name</a></h4>


        <div class="price-number-wrap mgBottom30">
          <div class="price-top">
          <p>Followers: <span class="smFollow">500K</span></br>
          Recommended Price Tag/Posts: <span class="smPrice">$50</span></p>
          </div>
        </div>


      <!--<div class="form-group border-Box clearfix">
        <div class="">Followers: 500K</div>
        <div class="">Recommended Price Tag/Posts: <strong>$50</strong></div>
      </div>-->
              </div>

            </div>
            <!-- List Item -->

    <!-- List Item -->
            <div class="col-md-4 main-content-wrapper">
      <div class="lft-icon">
      <div class="center-icon">
      <span class="ion-social-facebook"></span>
      </div>
      </div>

      <div class="rgt-icon">
      <div class="center-icon">
      <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Category: Fitness<br> Top 5 Countries: US, UK, ES  <br>Estimated Reach: 100K <br>See Full Insights(Not Available)"><span class="ion-information"></span></a>
      </div>
      </div>

              <div class="price-features">
                <div class="advertiserBox">
                  <a href="influencer-detail.html"><img src="assets/images/gallery/ad-request.jpg"></a>
                </div>
      <h4><a href="influencer-detail.html">Social Influencer Name</a></h4>
      <div class="price-number-wrap mgBottom30">
          <div class="price-top">
          <p>Followers: <span class="smFollow">500K</span></br>
          Recommended Price Tag/Posts: <span class="smPrice">$50</span></p>
          </div>
        </div>
              </div>

            </div>
            <!-- List Item -->

    <!-- List Item -->
            <div class="col-md-4 main-content-wrapper">
      <div class="lft-icon">
      <div class="center-icon">
      <span class="ion-social-instagram-outline"></span>
      </div>
      </div>

      <div class="rgt-icon">
      <div class="center-icon">
      <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Category: Fitness<br> Top 5 Countries: US, UK, ES  <br>Estimated Reach: 100K <br>See Full Insights(Not Available)"><span class="ion-information"></span></a>
      </div>
      </div>

              <div class="price-features">
                <div class="advertiserBox">
                  <a href="influencer-detail.html"><img src="assets/images/gallery/ad-request-instagram.jpg"></a>
                </div>
      <h4><a href="influencer-detail.html">Social Influencer Name</a></h4>
      <div class="price-number-wrap mgBottom30">
          <div class="price-top">
          <p>Followers: <span class="smFollow">500K</span></br>
          Recommended Price Tag/Posts: <span class="smPrice">$50</span></p>
          </div>
        </div>
              </div>

            </div>
            <!-- List Item -->

    <!-- List Item -->
            <div class="col-md-4 main-content-wrapper">
      <div class="lft-icon">
      <div class="center-icon">
      <span class="ion-social-facebook"></span>
      </div>
      </div>

      <div class="rgt-icon">
      <div class="center-icon">
      <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Category: Fitness<br> Top 5 Countries: US, UK, ES  <br>Estimated Reach: 100K <br>See Full Insights(Not Available)"><span class="ion-information"></span></a>
      </div>
      </div>

              <div class="price-features">
                <div class="advertiserBox">
                  <a href="influencer-detail.html"><img src="assets/images/gallery/ad-request.jpg"></a>
                </div>
      <h4><a href="influencer-detail.html">Social Influencer Name</a></h4>
      <div class="price-number-wrap mgBottom30">
          <div class="price-top">
          <p>Followers: <span class="smFollow">500K</span></br>
          Recommended Price Tag/Posts: <span class="smPrice">$50</span></p>
          </div>
        </div>
              </div>

            </div>
            <!-- List Item -->

    <!-- List Item -->
            <div class="col-md-4 main-content-wrapper">
      <div class="lft-icon">
      <div class="center-icon">
      <span class="ion-social-instagram-outline"></span>
      </div>
      </div>

      <div class="rgt-icon">
      <div class="center-icon">
      <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Category: Fitness<br> Top 5 Countries: US, UK, ES  <br>Estimated Reach: 100K <br>See Full Insights(Not Available)"><span class="ion-information"></span></a>
      </div>
      </div>

              <div class="price-features">
                <div class="advertiserBox">
                  <a href="influencer-detail.html"><img src="assets/images/gallery/ad-request-instagram.jpg"></a>
                </div>
      <h4><a href="influencer-detail.html">Social Influencer Name</a></h4>
      <div class="price-number-wrap mgBottom30">
          <div class="price-top">
          <p>Followers: <span class="smFollow">500K</span></br>
          Recommended Price Tag/Posts: <span class="smPrice">$50</span></p>
          </div>
        </div>
              </div>

            </div>
            <!-- List Item -->

    <div class="col-md-12">
       <ul class="pagination">
        <li><a href="#"><< Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Next >></a></li>
      </ul>
    </div>


          </div>


  </div>
  </section>
</div>
</section>
