<html>

<head>

</head>

<body>
<h3>Deal <%=@user.name%> </h3>

<p>
  Welcome to our network, please use the link below to activate your account
  <a href="<%=@link%>">Click here</a> to activate your account.
  <%=@link%>
</p>

</body>

</html>
