<%=render :partial=>"home/common_header"%>
  <section class="login section" style="background-image: url(/assets/subscribe/signuppagebg.jpg); background-size:cover; padding-top:120px;">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="login-box">
  				<div class="text-center">
  					<img src="/assets/header/menu-logo.png">
  				</div>
				<h4 class="text-center">Sign Up</h4>
				<div class="form-horizontal">
 				  <div class="row">
  					<div class="col-md-12">
    					<div class="form-group" style="margin-bottom:30px;">
    						<input class="advertiser-btn" type="radio" id="radio1" name="radios" value="" checked>
    						<label for="radio1" class="btn-label">Advertisers</label>
    						<input class="influencer-btn" type="radio" id="radio2" name="radios" value="">
    						<label for="radio2" class="btn-label">Influencers</label>
    					</div>
  					</div>
				  </div>
				    <%= render :partial => "advertiser"%>
            <%= render :partial => "influencer"%>
            <div class="g-recaptcha" data-sitekey="6LfJAwsUAAAAAJP5rBdRdnsi-hysY0nrQyCh6vjz"></div>
				</div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer-->
      <script>
        function check_for_number(value) {
          if(isNaN(value)){
            alert("enter only numbers please");
          }
        }
        function check_for_letters(value) {
          if(isNaN(value[value.length-1]) == false && value[value.length-1]!=" "){
            alert("enter only letters please")
          }
        }

         function check_validation(e){
           e.preventDefault();
        }

      </script>
      <%= render :partial=>"layouts/footer"%>
