<div id="menuzord" class="menuzord clearfix navigationbar-animation solid menuzord-responsive">
  <a href="javascript:void(0)" class="showhide" style="display: none;"></a>
  <a href="/" class="menuzord-brand">
    <img src="/assets/header/menu-logo-blue.png" class="dark-logo">
  </a>
    <ul class="menuzord-menu menuzord-right menuzord-indented scrollable" style="max-height: 400px;">
			<li><a href="/">Home</a></li>
			<li><a href="/advertisers">Advertisers</a></li>
			<li><a href="/influencers">Influencer</a></li>
			<li class="<%='hidden' if current_advertiser.present?%>"><a href="/registrations/new">Sign Up</a></li>
			<li><a href="javascript:void(0)">Contact Us</a></li>
			<li><a href="javascript:void(0)">Blog</a></li>
		<li class="scrollable-fix"></li>
  </ul>
  </div>
