 <section class="account section" style="min-height:575px;">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>Account</h1>
                </div>
              </div>
              <div class="form-horizontal">
                <div class="row">
                  <div class="col-sm-8">
                    <!--<div class="form-group">
                      <label class="control-label col-md-5" for="">Change Password</label>
                      <div class="col-md-7">
                      <input placeholder="Change Password" class="form-control" type="password">
                      </div>
                       </div>
                       <div class="form-group">
                      <label class="control-label col-md-5" for="">Confirm Change Password</label>
                      <div class="col-md-7">
                      <input placeholder="Confirm Change Password" class="form-control" type="password">
                      </div>
                       </div> -->
                    <div class="form-group">
                      <label class="control-label col-md-5" for="">Change Media</label>
                      <div class="col-md-7">
                        <select name="" class="custom-select">
                          <option id="facebook" selected>Facebook</option>
                          <option id="Instagram">Instagram</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-5" for="">Change URL</label>
                      <div class="col-md-7">
                        <input placeholder="http://facebook.com/" class="form-control" type="text">
                      </div>
                    </div>
                    <!--<div class="form-group">
                      <label class="control-label col-md-5" for="">Change Payment Information</label>
                      <div class="col-md-7">
                      <select name="" id="paymentInfo" 
                        <option value="Paypal" id="Paypal">Paypal</option>
                        <option value="Bank Account" id="Bank Account">Bank Account</option>
                      </select>
                      </div>
                       </div>
                       
                       <div class="form-group all-detail">
                      <div class="col-md-7 col-md-offset-5">
                      <input placeholder="Change Email Address" class="form-control" type="text">
                       </div>
                       </div>
                       
                       <div class="form-group all-detail">
                      <div class="col-md-7 col-md-offset-5">
                      <input placeholder="Change Bank Account" class="form-control" type="text">
                       </div>
                       </div>-->
                    <div class="form-group">
                      <label class="control-label col-md-5" for="">Change Payment Information</label> 
                      <div class="col-md-7">
                        <select id="paymentInfo" class="custom-select">
                          <option value="red">Paypal</option>
                          <option value="yellow">Bank</option>
                        </select>
                      </div>
                    </div>
                    <div class="output">
                      <div id="red" class="colors form-group all-detail">
                        <div class="">
                          <div class="col-md-7 col-md-offset-5">
                            <input placeholder="Change Email Address" class="form-control" type="text">
                          </div>
                        </div>
                      </div>
                      <div id="yellow" class="colors form-group all-detail">
                        <div class="">
                          <div class="col-md-7 col-md-offset-5">
                            <input placeholder="Change Bank Account" class="form-control" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 col-md-offset-5">
                      <a class="btn btn-mountain btn-sm btn-round" href="#">Save</a>
                      <a class="btn btn-mountain btn-sm btn-round" href="#">Cancel</a>
                    </div>
                    <!--<button class="btn btn-mountain-o btn-sm btn-round">Save</button> <button class="btn btn-mountain-o btn-sm btn-round">Cancel</button>   -->
                  </div>
                </div>
              </div>
            </div>
          </section>