<aside class="sidebar column" style="height: 685px">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="active">
                <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
            </li>
            <li>
                <a href="manage-user.html"><i class="fa fa-user"></i><span>Manage User</span></a>
            </li>
            <li>
                <a href="social-account.html"><i class="fa fa-users"></i><span>Social Accounts</span></a>
            </li>
            <li>
                <a href="ad-review.html"><i class="fa fa-pencil-square-o"></i><span>Ad Review</span></a>
            </li>
            <li>
                <a href="reported-ad.html"><i class="fa fa-bar-chart"></i><span>Reported Ads</span></a>
            </li>
            <li>
                <a href="api-manager.html"><i class="fa fa-user-plus"></i><span>API Manager</span></a>
            </li>
            <li>
                <a href="notification.html"><i class="fa fa-exclamation-triangle"></i><span>Notifications</span></a>
            </li>
            <li>
                <a href="change-fee.html"><i class="fa fa-usd"></i><span>Change Fees</span></a>
            </li>
            <li>
                <a href="social-account-integration.html"><i class="fa fa-cogs"></i><span>Social Accounts Integration</span></a>
            </li>
        </ul>
    </div>

</aside>
