  <div class="topBar">
            <div class="row">
              <div class="userName"><span class="ion-navicon-round navIcon1"></span> <span class="ion-navicon-round navIcon2"></span></div>
              <!--<div class="userName">
                <strong>Hello, User</strong>
                </div>-->
              <div class="user-nav">
                <ul>
                  <li class="lg-font">Your Balance: $350</li>
                  <li class="dropdown messages">
                    <span class="badge badge-danager animated bounceIn" id="new-messages">38</span>
                    <a class="dropdown-toggle options topIcon" id="toggle-mail" data-toggle="dropdown">
                    <span class="ion-ios-bell"></span>
                    </a>
                    <!-- <ul class="dropdown-menu alert animated fadeInDown">
                      <li>
                        <h1>You have <strong>38</strong> new Notification</h1>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="assets/images/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">James Bond</span>
                            <span class="time">30 mins</span>
                            <div class="message-content">Lorem ipsum dolor sit amet, elit rutrum felis sed erat augue fusce...</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="assets/images/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">Ivan Bella</span>
                            <span class="time">6 hours</span>
                            <div class="message-content">Curabitur metus faucibus sapien elit, ante molestie sapien...</div>
                          </div>
                        </a>
                      </li>
                      <li><a href="#">Check all Notifications <span class="ion-arrow-right-b"></span></a>
                      </li>
                    </ul> -->
                  </li>
                  <li class="dropdown messages">
                    <span class="badge badge-danager animated bounceIn" id="new-messages">10</span>
                    <a class="dropdown-toggle options topIcon" id="toggle-mail" data-toggle="dropdown">
                    <span class="ion-android-mail"></span>
                    </a>
                  <!--   <ul class="dropdown-menu alert animated fadeInDown">
                      <li>
                        <h1>You have <strong>10</strong> new messages</h1>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="assets/images/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">James Bond</span>
                            <span class="time">30 mins</span>
                            <div class="message-content">Lorem ipsum dolor sit amet, elit rutrum felis sed erat augue fusce...</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="profile-photo">
                            <img src="assets/images/profile-img.png" alt="" class="img-circle">
                          </div>
                          <div class="message-info">
                            <span class="sender">Jeffrey Ashby</span>
                            <span class="time">2 hour</span>
                            <div class="message-content">hendrerit pellentesque, iure tincidunt, faucibus vitae dolor aliquam...</div>
                          </div>
                        </a>
                      </li>
                      <li><a href="#">Check all messages <span class="ion-arrow-right-b"></span></a>
                      </li>
                    </ul> -->
                  </li>
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="assets/member-img.png" class="profile-thumb img-responsive"></a>
                    <ul class="dropdown-menu animated fadeInDown">
                      <li>
                        <a href="#"><span class="ion-person"></span> Account</a>
                      </li>
                      <li>
                        <a href="#"><span class="ion-gear-b"></span> Settings</a>
                      </li>
                      <li>
                        <a href="#"><span class="ion-power"></span> Logout</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
