 <div id="menuzord" class="menuzord clearfix menuzord-single navigationbar-animation solid sideBar">
            <a href="social-influencer-admin.html" class="menuzord-brand"><%= image_tag "header/menu-logo-blue.png"  ,:class=>"dark-logo"%></a>
            <ul class="nav menuzord-menu">
              <li><a href="#"><i class="ion-home"></i> <span>Dashboard</span></a></li>
              <li><a href="#"><i class="ion-android-open"></i> <span>Ad Request</span></a></li>
              <li><a href="#"><i class="ion-android-bulb"></i> <span>Insights</span></a></li>
              <li class="active"><a href="account.html"><i class="ion-person"></i> <span>Account</span></a></li>
              <li><a href="#"><i class="ion-card"></i> <span>Payments</span></a></li>
            </ul>
          </div>